name: Delete Old Workflow Runs
on:
  workflow_dispatch:

  schedule:
    - cron: '0 18 * * *'

jobs:
  del_runs:
    name: Delete old runs
    runs-on: ubuntu-latest
    steps:
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 0
